header {
    width: 100%;
    padding: 25px 25px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.Header-logo {
    font-size: 48px;
    background: linear-gradient(0deg, rgb(255, 251, 0) 35%, rgba(255,255,255,1) 35%);
}

.Header-logo:hover {
    background: linear-gradient(0deg, rgb(255, 251, 0) 55%, rgba(255,255,255,1) 55%);
}

.Header-logo-bold {
    font-weight: bold;
}

.Header-search-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.Header-search-text {
    height: 36px;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    border: none;
    width: 250px;
    transition: .2s;
    background: linear-gradient(0deg, rgb(255, 251, 0) 35%, rgba(255,255,255,1) 35%);
}

.Header-search-text::placeholder {
    font-family: 'Recursive', sans-serif;
    padding-left: 5px;
    font-size: 24px;
    line-height: 58px;
}

.Header-search-text:focus {
    width: 300px;
}

.Header-search-button {
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: white;
    background: linear-gradient(0deg, rgb(255, 251, 0) 35%, rgba(255,255,255,1) 35%);
}

.Header-search-button:hover {
    background: linear-gradient(0deg, rgb(255, 251, 0) 55%, rgba(255,255,255,1) 55%);
}

.Header-search-button i {
    font-size: 36px;
}