header {
    width: 100%;
    padding: 25px 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 48px;
    background: linear-gradient(0deg, rgb(255, 251, 0) 35%, rgba(255,255,255,1) 35%);
}

.header-logo:hover {
    background: linear-gradient(0deg, rgb(255, 251, 0) 55%, rgba(255,255,255,1) 55%);
}

.header-logo-bold {
    font-weight: bold;
}

.header-search-button {
    border: none;
    cursor: pointer;
    height: 58px;
    background-color: white;
    background: linear-gradient(0deg, rgb(255, 251, 0) 35%, rgba(255,255,255,1) 35%);
}

.header-search-button:hover {
    background: linear-gradient(0deg, rgb(255, 251, 0) 55%, rgba(255,255,255,1) 55%);
}

.header-search-button i {
    font-size: 48px;
}